@import "../utilities/variables";
@import "../utilities/maps";
@import "../utilities/mixins";

@import "./medias"; /*medias*/


footer {
    @include flex(center, center);
    background-color: map-get($colorfondo, color3);    
    font-size: 17px;
    padding: 20px;
    border: 2px solid black;
    gap: .3125rem;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer ul{
    list-style: none;

}

footer ul a{
    text-decoration: none;
    color: inherit;
}

