@use "./utilities/variables.scss";
@use "./utilities/maps.scss";
@use "./utilities/mixins.scss";

@import "./layout/footer.scss";  /*footer*/
@import "./layout/medias.scss"; /*medias*/


.section-carrito{
    @mixin flex (center, center)
    background-color: map-get($colorfondo, color2 );
    width: 100%;
    height: 800px;
    padding: 20px;
}

.carrito-container{
    background-color: map-get($colorfondo, color1 );
    width: 80%;
    max-width: 500px;
    height: 600px;
    padding: 10px;
    border: 5px;
    box-shadow: 0px 4px 8px gainsboro;
}
.producto{
    @mixin flex (center, center)
    gap: .625rem;
}
.producto img{
    max-width: 200px;
    border: 10px;
}

.descripcion-jabon{
    flex: 1;
    font-size: 14px;
}
.precio{
    white-space: nowrap;
    min-width: 70px;
    text-align: right;
}
.vaciar{
    @mixin flex (end, center)
    gap: 5px;
    border-top: .625rem;
}
.vaciar button{
    background-color: beige;
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}
.facturacion{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid gainsboro;
}
.facturacion p {
    display: flex;
    justify-content: space-between;
}
.total{
    font-size: 18px;
    font-weight: bold;
}


.finalizar-container{
    @mixin flex (center, center)
    align-content: center;
}
.finalizar{
    width: 75%;
    max-width: 300px;
    background-color: $colorbuttom;
    color: white;
    border: 3px solid skyblue;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    cursor: not-allowed;
}