@use "../utilities/variables.scss";
@use "../utilities/maps.scss";
@use "../utilities/mixins.scss";

@use "../layout/footer.scss";  /*footer*/
@use "../layout/medias.scss"; /*medias*/
.container-contact{
    @include flex(center, center);
    background-color: map-get($colorfondo, color2 );
    width: 100%;
    height: 700px;
    padding: 20px;
    flex-direction: column;
}
.container-contact div h3{
    text-align: center;
    margin: 20px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}
.form {
    background-color: map-get($colorfondo, color1 );
    justify-content: center;
    align-content: center;
    padding: 20px;
    width: 350px;
    height: 500px;
    box-shadow: 2px 2px 8px;
}
.form article{margin-bottom: 15px}
.form label{
    display: block;
    text-align: left;
}
.form input,.form select {
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px; 
    border: 1px solid black;
}

.gener {
    @include flex(center, center);
    gap: .625rem;
}
.gener input{width: auto; margin-right: 5px;}
.submit{display: flex;justify-content: center;width: 100%;}
.form input[type="submit"] {
    width: 75%;
    max-width: 300px;
    background-color: map-get($colorfondo, color4 );
    color: white;
    border: 3px solid skyblue;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    cursor: not-allowed;
}
.form input:focus{
    background-color: rgb(171, 218, 250);
}
.form input::marker{
    background-color: rgb(171, 218, 250);
}
