/* Error: There is no module with the namespace "maps".
 *    ,
 * 10 |     background-color: map-get(utilities/maps.$colorfondo , color3);    
 *    |                                         ^^^^^^^^^^^^^^^^
 *    '
 *   scss\layout\footer.scss 10:41      @use
 *   scss\html\iniciar-sesion.scss 5:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "maps".\a    \2577 \a 10 \2502      background-color: map-get(utilities/maps.$colorfondo , color3);    \d\a    \2502                                          ^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\layout\\footer.scss 10:41      @use\a   scss\\html\\iniciar-sesion.scss 5:1  root stylesheet';
}
